.about-us{
    text-align: center;
    p{
        font-size: 24px;
        letter-spacing: -0.53px;
    }
    .about-info{
        text-align: center;
        width: 686px;
        h1{
            padding-bottom: 23px;
            .uppercase{
                text-transform: uppercase;
            }
        }
        p{
            margin-bottom: 21px;
        }
        .about-us-image{
            width: 818px;
            height: 379px;
            object-fit: contain;
            margin: 28px 0 162px 0;
        }
    }
    .our-vision-mission{
        width: 620px;
        h2{
            letter-spacing: -0.8px;
            margin-bottom: 21px;
        }
        h3{
            margin-bottom: 21px;
        }
        p{
            margin-bottom: 50px;
        }
    }

    .vm-container{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 1019px;
        margin-bottom: 301px;


        .our-approach, .why-vesta{
            width: 498px;
            height: 566px; 
            text-align: left;
            background: rgba(57, 101, 238, 0.44);
            .header-line{
                margin-top: 59px;
            }
            h2, h3{
                margin-bottom: 23px;
            }
        }
        img{
            width: 437px;
            height: 291px;
            object-fit: contain;
        }
        .why-vesta-list{
            li{
                display: flex;
                flex-direction: row;
                padding-bottom: 32px;
                .fa-check-circle:before{
                    color: $accent-button-color;
                    padding-right: 24px;
                    font-size: 46px;
                }
            }
            p{
                padding-top: 9px;
            }
  
        }
    }
    .learn-more-about{
        width: 542px;
        h3{
            margin-bottom: 21px;
        }
        p{
        margin-bottom: 35px;
        }
    }
}
