i.fa-minus {
    display: none;
    color: $accent-button-color;
    font-size: 1.5em;
}

i.fa-plus{
color: $primary-color;
font-size: 1.5em;

}

.faq-answer {
    display: none;
}
//FAQ Styling
.faq-header{
    text-align: center;
    
}
.faq-container{
    display:grid;
    grid-template-columns: 40% 60%;
    grid-auto-rows: auto;
    grid-gap:20px;
    margin-bottom: 50px;
}

.faq-category{
    display:flex;
    flex-direction: column;
    margin-top:70px;
    h3{
        margin-bottom: 30px;
    }
    hr{
        border-bottom: 3px solid $primary-color;
        width:70%;
        // min-width: 30%;
        margin-left: 0;
    }
}

        
.faq-list{
    display: flex;

    flex-direction: column;
    margin-top:70px;
    max-width:100%;
}          
.faq-single{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 10px;
    // width:130%;
    // min-width: 10%;
    hr{
        border-bottom: 0.1px solid $primary-color;
        width:100%;
        margin-left: 0px;
    }
}  
.faq-single-wrap{
    display: flex;
    justify-content: space-between;
}
.fa-plus, .fa-minus{
    
    margin-left: 20px;
}

.faq-answer{
    margin:20px 0 40px 0;
    line-height: 20px;
    width:500px;
}
            

        
    

