i.fa-minus {
    display: none;
}

.faq-answer {
    display: none;
}
//FAQ Styling
.faq-header{
    text-align: center;
}
.faq-container{
    display:grid;
    grid-template-columns: 40% 60%;
    grid-template-rows: auto auto;
    margin-bottom: 50px;
    
        .faq-category{
            margin-left: 130px;
            margin-top:70px;
            h3{
                margin-bottom: 30px;
            }
            .faq-header-line{
                border-bottom: 3px solid $primary-color;
                width:276px;
                margin-left: 0;
            }
        }
        .faq-list{
            margin:70px 0 0 50px;
            
            .faq-single{
                margin-top: 10px;
                .fa-plus, .fa-minus{
                    margin-left:550px;
                }
                .faq-single-line{
                    border-bottom: 0.1px solid $primary-color;
                    width:560px;
                    margin-left: 0px;
                }
                .faq-answer{
                    margin:20px 0 40px 0;
                    padding-right: 300px;
                    line-height: 20px;
                }
            }

        }
    
}
