footer{ 
    margin-top: 100px;
}

.footer-inner-container{
    display: flex;
    max-width: 100%;
    padding: 0 9%;
    flex-wrap: nowrap;
    justify-content: space-between;
    background-color:#c3d0f9;
}

.upper-footer{
    display: flex;
    flex-direction: column;
    width: 50%;
    .footer-logo{
        margin-top: 20px;
        .logo-black{
            height: 70px;
            width: auto;
        }
        .logo-letter{
            height: 15px;
            margin-bottom: 25px;
        }
    }
}
  
.footer-nav{
    margin: 10px 0 30px 0;
    max-width: 100%;
    ul {
        a{
            text-transform: capitalize;
            font-family: 'Century Gothic Bold';
            color: $font-color;
        };
    };
    li{
        display: inline;
        padding-right: 10px;
    }
}
    

.footer-subscribe{
    width: 40%;
    
}

.subscribe-form-footer{
    margin-top: 42px;
    max-width: 100%;
    // position: relative;
    label{
        font-size: 1rem;
        font-family: 'Century Gothic Bold';
        color: $font-color; 
        max-width: 100%;
    }
    div {
        display: flex;
        width: 100%;
    }
}

.subscribe-email-footer{
    flex-grow: 1;
    height:35px;
    width: 50%;
    min-width: 200px;
    margin-top: 20px;
    font-size: 14px;
    font-family: 'Century Gothic';
    padding-left:20px;
    color: $font-color;
}

.subscribe-button-footer{
    @include subscribe-btn;
    margin-top: 20px;
    margin-left: -10px;
    height: 40px;
    width: 35%;
    font-size: 14px;
}


// Sub-Footer
.lower-footer{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    background-color: $primary-dark;
    padding: 0 9%;
    max-width: 100%;
}

.footer-nav-2{
    width: 60%;
    ul a{
        text-transform: capitalize;
        text-decoration: underline;
        font-family: 'Century Gothic';
        font-size: 0.78rem;
        color: white;
    }
    ul{
        padding-top: 5px;
    }
    li{
        display: inline;
        padding-right: 15px;
    }
}
        
.socials-footer{
    i {
        color:white;
        font-size: 1.4rem;
        padding-left: 10px;
        margin-top: 10px;
    }
}