// Book info session Form

form.wpcf7-form{
    width: 546px;
    margin: 0 auto;
    p{
        text-align: left;
        color: $primary-dark;
        font-family: 'Century Gothic Bold';
        font-size: 1.25em;
        margin: 0;
        width: 100%;
    }
    input, textarea{
        @include form-border;
        width: 525px;
        margin-top: 9px;
        font-size: 1em;
        padding-left: 19px;
    }
    input.wpcf7-text{
        margin-bottom: 34px;
        height: 58px;
    }
    textarea{
        height: 160px;
        padding-top: 15px;
    }
    
}

// Field Required Message
.wpcf7-not-valid-tip{
    margin: -25px 0 25px 0;
}