.resources-content-container {
    width: 79%;
    margin: 0 auto;
    background-color: #fff;
}

.resource-headers {
    display: flex;
}

.resource-sub-cat-wrapper {
    display: flex;
    max-width: 100%;
}






.resource-media img {
    width: 100%;
    height: auto;
}
.resource-media {
    max-width: 300px;
}