.resources-title-container {
    width: 30%;
    text-align: center;
    margin: 0 auto;
    p {
        margin: 20px 0;
    }
}


.resources-content-container {
    box-sizing: border-box;
    width: 100%;
    margin: 0 auto 60px auto;
    background-color: #fff;
    box-shadow: 0 1px 50px 43px rgba(68, 75, 79, 0.04);
    padding: 0 7%;
    .community-resources {
        display: none;
    }
}

.resource-headers {
    display: flex;
    justify-content: center;
    margin: 0 0 25px 0;
    padding-top: 50px;
}


.resource-header {
    display: grid;
    grid-template: 50px 1.9rem 23px / 1fr;
    width: 35%;
    text-align: center;
    margin: 0 5px;
    h3 {
        font-family: 'Century Gothic';
    }
    img {
        height: 50px;
        margin: 0 auto;
    }
    &:hover {
        cursor: pointer;
    }
}

.highlight-bar {
    @include thick-bar;
    width: 100%;
}

.resource-header-selected {
    h3 {
        font-family: 'Century Gothic Bold';
    }
    .highlight-bar {
        @include thick-bar-selected;
    }
    &:hover {
        cursor: unset;
    }
}

.parent-cat-container {
    display: flex;
    flex-direction: column;
}

.sub-cat-name {
    margin: 2rem 0;
}

.resource-sub-cat-wrapper {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: repeat(3, 28%);
    grid-column-gap: 8%;
    width: 100%;
}

.single-resource {
    width: 100%;
    text-align: center;
    a {
        text-decoration: none;
    }
}

.resource-media {
    width: 100%;
    height: 155px;
    margin-bottom: 0.75rem;
    img, iframe {
        width: 100%;
        height: 155px;
        object-fit: cover;
    }
}

.logo-placeholder {
    img {
        width: auto;
        height: 100%;
    }
}


.more-resources-btn {
    background: $primary-dark;
    color: #fff;
    padding: 0.6rem 0.7rem;
    text-transform: uppercase;
    font-size: 0.8rem;
    margin: 15px auto;
    &:hover {
        background: $primary-color;
    }
}

// Suggestion Form
.suggest-a-resource {
    margin: 50px 0;
}

.suggestion-header {
    font-size: 1.17rem;
}

.resources-suggest {
    label {
        font-size: 1rem;
        font-family: 'Century Gothic';
    }
    form.wpcf7-form {
        margin: 0;
    }
    form.wpcf7-form textarea {
        height: 50px;
    }
    .wpcf7-submit {
        @include form-submit-btn;
        color: #fff;
        background: $accent-button-color;
        margin: 0;
        font-size: 1rem;
        text-transform: uppercase;
        cursor: pointer;

    }
}

