div.wpcf7-mail-sent-ok {
    border-color: #fff;
}

.book-info-session{
    width: 100%;
    h2{
        text-align: center;
        margin-bottom: 22px;
        text-transform: uppercase;
        font-size: 2.5em;
    }
    p{
        max-width: 400px;
        text-align: center;
        margin: 0 auto;
        font-size: 1.25em;
    }
}

form.wpcf7-form{
    width: 555px;
    margin: 62px auto 0 auto;
    p{
        text-align: left;
        color: $primary-dark;
        font-family: 'Century Gothic Bold';
        font-size: 1.25em;
        margin: 0;
    }
    input, textarea{
        @include form-border;
        width: 544px;
        margin-top: 9px;
        font-size: 1em;
        padding-left: 19px;

    }
    input.wpcf7-text{
        margin-bottom: 34px;
        height: 58px;
    }
    textarea{
        height: 160px;
        padding-top: 15px;
    }
    
}
.form-button-container{
    width: 585px;
    display: flex;
    justify-content: flex-end;
    margin: 41px 0 138px 0;

    input.wpcf7-submit{
        @include book-btn;
        width: 230px;
        height: 60px;
        font-size: 1em;
    }
}
