.single-content-container{
    width: 65%;
    margin: 0 auto;
    text-align: center;
    color: $font-color;
    
    h2{
        margin-bottom: 30px;
        text-align: center;
    }

    p, li{
        font-family: 'Century Gothic';
        font-size: 1.2em;
        margin: 40px auto;
    }
    a{
        color: $primary-color;
        text-decoration: none;
    }
    img{
    width: 100%;
    height: 379px;
    object-fit: contain;
    margin: 30px auto;
    }
}
.single-content-title-wrapper{
    width: 60%;
    min-width: 550px;
    margin: 40px auto;
}