h1{
    text-align: center;
    text-transform: uppercase;
}
.what-we-offer{
    p{
       margin: 50px auto;
        text-align: center;
        line-height: 20px;
        width: 60%;
        min-width: 200px;
    }
}
.what-we-offer-inner{
    display: grid;
    grid-template-columns: 40% 40%;
    grid-template-rows: auto auto;
    grid-column-gap: 160px;
    margin: 30px auto 0 auto;
}
.what-we-offer-private, .what-we-offer-confidential, .what-we-offer-trustworthy, .what-we-offer-secure{
    display:flex;
    flex-wrap: nowrap;
    margin-top: 20px;
    img{
        margin-right: 30px;
        width: 25%;
        max-width: 100%;
    }
    
}

.inner-private, .inner-confidential, .inner-trustworthy, .inner-secure{
    p{
        margin: 20px 0;
        text-align: left;
        width:70%;
        max-width: 70%;
    }
}

// How it Work
 
.how-it-works{
    width: 950px;
    height: 1100px;
    border-radius: 4px;
    background-color: white;
    box-shadow: 0 1px 50px 43px rgba(68, 75, 79, 0.04);
    max-width: 100%;
    margin: 200px 0 100px 0;
    .header-style-container{
        padding-top:60px;
        text-align: center;
        width:192px;
        margin: 0 auto;
    }
}
.how-it-works-hr-container{
    padding-top:60px;
    text-align: center;
    .header-line{
        margin: 10px auto;
    }
}

.book-info-session-container{
    @include about-offer-container;
    margin: 0 auto;
    width: 750px;
    height: 250px;
    margin-bottom: 100px;
    padding-top:60px;
    h2{
        text-align: center;
        margin-bottom: 30px;
    }
    p{
        margin:0;
        text-align: center;
        padding: 0 120px 0 120px;
    }
 
}
// Employee/Employer Tab
.employee-employer-container{
    li{
        float: left;
        width: 50%;
        
    }
    .tab-1{
        margin-left:100px;
        margin-bottom:30px;
        img{
            width:33%;
            min-width:123px;
        }
      }
    .tab-2{
        margin-right:100px;
      }
      a {
        color: $font-color;
        display: block;
        padding: 10px 0;
        text-align: center;
        text-decoration: none;
      }
      .tab-active a {
        background: #fff;
        border-bottom-color: transparent;
        color: $font-color;
        cursor: default;
        
            .community-line{
                width: 250px;
                height: 10px;
                border: solid 1px $accent-button-color;
                background-color: $accent-button-color;
              
        }
            .workplace-line{
                width: 250px;
                height: 10px;
                border: solid 1px $primary-color;
                background-color: $primary-color;
              }
        
          h2{
              font-weight: normal;
          }
          
      }
}

  .steps-container {
    border-top: 0;
    clear: both;
    padding: 24px 30px;
    position: relative;
    top: -1px;
    h3{
        text-align: center;
    }
    
  }
 
  .video-info-container .custom-html-widget{
      width: 70%;
      margin: 50px auto; 
    iframe{
        width: 100%;
        object-fit: contain;
        // position: absolute; 
        // top: 600px; right: 0; 
        // bottom: 0; left: 0;
        // margin: 0 auto;
    }
   
  }
.community-line, .workplace-line{
  width: 250px;
  height: 10px;
  border: solid 1px #cbcbcb;
  background-color: #cbcbcb;
}
