h1{
    text-align: center;
    text-transform: uppercase;
}
.what-we-offer{
    p{
        margin: 50px auto;
        text-align: center;
        line-height: 20px;
        width: 60%;
        min-width: 200px;
    }
}
.what-we-offer-container{
   width: 100%;
   
}
.what-we-offer-inner{
    margin: 0 auto;
    display: grid;
    width: 100%;
    min-width:80%;
    height: auto;
    grid-template-columns: 35% 35%;
    grid-template-rows: auto auto;
    grid-column-gap: 150px;
    justify-content: center;
}
.what-we-offer-private, .what-we-offer-confidential, .what-we-offer-trustworthy, .what-we-offer-secure{
    display:flex;
    flex-wrap: nowrap;
    margin-top: 20px;
   
    img{
        margin-right: 30px;
        width: 25%;
        min-width:25%;
    }
    
}

.inner-private, .inner-confidential, .inner-trustworthy, .inner-secure{
    width:50%;
    p{
        margin: 20px 0;
        text-align: left;
        width:40%;
        // min-width: 40%;
    }
}

// How it Work
 
.how-it-works{
   
    height: 1100px;
    border-radius: 4px;
    background-color: white;
    box-shadow: 0 1px 50px 43px rgba(68, 75, 79, 0.04);
    max-width: 100%;
    margin: 200px auto 100px auto;
    .header-style-container{
        padding-top:60px;
        text-align: center;
        width:217px;
        margin: 0 auto;
    }
}
.how-it-works-hr-container{
    padding-top:60px;
    text-align: center;
    .header-line{
        margin: 10px auto;
    }
}

.book-info-session-container{
    @include about-offer-container;
    margin: 0 auto;
    width: 72%;
    min-width:540px;
    height: 250px;
    margin-bottom: 100px;
    padding-top:60px;
    h2{
        text-align: center;
        margin-bottom: 30px;
    }
    p{
        margin:0;
        text-align: center;
        padding: 0 120px 0 120px;
    }
 
}
// Employee/Employer Tab
.employee-employer-container{
    li{
        float: left;
        width: 50%;
        
    }
    .tab-2{
        margin-right:100px;
        margin-bottom:30px;
        img{
            width:21%;
            min-width:123px;
        }
      }
    .tab-1{
        margin-left:100px;
        
      }
      a {
        color: $font-color;
        display: block;
        padding: 10px 0;
        text-align: center;
        text-decoration: none;
      }
      .tab-active a {
        background: #fff;
        border-bottom-color: transparent;
        color: $font-color;
        cursor: default;
        
            .community-line{
                width: 70%;
                height: 10px;
                border: solid 1px $accent-button-color;
                background-color: $accent-button-color;
              
        }
            .workplace-line{
                width: 70%;
                height: 10px;
                border: solid 1px $primary-color;
                background-color: $primary-color;
              }
        
          h2{
              font-weight: normal;
          }
          
      }
}

  .steps-container {
    border-top: 0;
    clear: both;
    padding: 24px 30px;
    position: relative;
    top: -1px;
    h3{
        text-align: center;
    }
    
  }
 
  .video-info-container .custom-html-widget{
      width: 70%;
      margin: 100px auto;
    iframe{
        width: 100%;
        object-fit: contain;
    }
   
  }
.community-line, .workplace-line{
  width:70%;
  height: 10px;
  border: solid 1px #cbcbcb;
  background-color: #cbcbcb;
}
