// Bottom

.bottom-right-shapes {
    .all-shapes-wrapper {
       @include shapes-wrapper;
       z-index: -100;
    }
    
    .big-rec {

        @include big-rec;
        transform: translate(500px, 750px) rotate(43deg);
    }

    .sm-rec {
        @include lil-rec;
        transform: translate(850px, 300px) rotate(43deg);
    }
    .background-cover {
        @include section-background;
        transform: translate(0, -500px);
    }
    .background-cover-bottom {
        transform: translate(0, 897px);
    }
}


// Top shapes 

.top-left-shapes {
    .all-shapes-wrapper {
        @include shapes-wrapper;
        z-index: -100;
        
        .big-rec {
            @include big-rec;
            transform: translate(-550px, -150px) rotate(43deg);
        }
        .sm-rec {
            @include lil-rec;
            transform: translate(-175px, -1050px) rotate(43deg);
            height: 600px;
        }
        .background-cover {
            @include section-background;
            top: 0;
        }
    }
 }