// Bottom

.bottom-right-shapes {
    .all-shapes-wrapper {
       @include shapes-wrapper;
       z-index: -100;
    }
    
    .big-rec {

        @include big-rec;
        transform: translate(500px, 750px) rotate(43deg);
    }

    .sm-rec {
        @include lil-rec;
        transform: translate(850px, 150px) rotate(43deg);
    }
    .background-cover {
        @include section-background;
        bottom: 0;

    }
    .background-cover-bottom {
        transform: translate(0, 697px);
    }
}


// Top shapes 

.top-left-shapes {
    .all-shapes-wrapper {
        @include shapes-wrapper;
        z-index: -100;
        
        .big-rec {
            @include big-rec;
            transform: translate(-550px, -150px) rotate(43deg);
        }
        .sm-rec {
            @include lil-rec;
            transform: translate(-175px, -1050px) rotate(43deg);
            height: 600px;
        }
        .background-cover {
            @include section-background;
            top: 0;
        }
        .background-cover-bottom {
            transform: translate(350px, 2100px) rotate(-34deg);
            height: 630px;
        }
    }
 }

//404 shapes 

.error-left-shapes {
    .all-shapes-wrapper {
        @include shapes-wrapper;
        z-index: -100;
        
        .big-rec {
            @include big-rec;
            transform: translate(-500px, 475px) rotate(43deg);
        }
        .sm-rec {
            @include lil-rec;
            transform: translate(-650px, -775px) rotate(43deg);
            height: 1000px;
            width: 1100px;
        }
        .background-cover {
            @include section-background;
            bottom: 0;
        }
    }
 }

// frontpage shapes

.front-page-shapes {
    .all-shapes-wrapper {
        @include shapes-wrapper;
        z-index: -100;
        
        .big-rec {
            @include big-rec;
            transform: translate(368px, -275px) rotate(-18deg);
            width: 1450px;
            height: 900px;
        }
        .sm-rec {
            @include lil-rec;
            transform: translate(625px, -1150px) rotate(-18deg);
            height: 630px;
            width: 1100px;

        }
        .top-right-sm-rec{
            transform: translate(1090px, -1525px) rotate(-18deg);
            height: 575px;
            background: rgba(57, 101, 238, 0.44);

        }
        .background-cover {
            @include section-background;
            top: 299px;
            height: 455px;
        }

        .midde-left-rec{
            transform: translate(-665px, -685px) rotate(-124deg);
            width: 800px;
        }
        .background-rec-bottom{
            transform: translate(-400px, 2650px) rotate(-34deg);
            height: 590px;
            width: 2550px;
        }
        .background-rec-bottom-two{
            transform: translate(-625px ,3100px) rotate(53deg);
            height: 590px;
        }
    }
 }

 //what we offer-shapes

 .what-we-offer-shapes {
    .all-shapes-wrapper {
       @include shapes-wrapper;
       z-index: -100;
    }
    
    .big-rec {

        @include big-rec;
        transform: translate(500px, 750px) rotate(43deg);
    }

    .sm-rec {
        @include lil-rec;
        transform: translate(808px, 300px) rotate(43deg);
    }
    .background-cover {
        @include section-background;


    }
    .background-cover-bottom {
        transform: translate(0, 0);
        bottom: 0;
        height: 565px;
    }
}