.toggle-answer {
    &:hover {
        cursor: pointer;
        color: $primary-dark;
    }
}

.learn-more-about{
    .book-session-BTN{
        @include book-btn;
        padding: 19px 38px;
        font-size: 16px;
    }
}

// Close pop-up button
.fa-times-circle {
    &:hover {
        cursor: pointer;
    }
}
