button {
    &:hover {
        cursor: pointer;
    }
}

@mixin exit-btn {
    @include book-btn;
    z-index: 100;
    background-color: $transparent-accent;
    box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border: none;
    color: white;
    font-size: 0.9rem;
    text-align: center;
    line-height: 2.7;
    display: block;
    height: 2.5rem;
    width: 100px;
    cursor: pointer; 
    @content;
}

.exit-button {
    @include exit-btn;
    position: fixed;
    right: 5%;
    // bottom: 50px;
}

// .sticky-exit {
//     @include exit-btn;
//     position: fixed;
//     bottom: 5%;
//     right: 5%;
    
// }


// .freeze-exit {
//     @include exit-btn;
//     position: absolute;
//     bottom: 250px;
//     right: 5%;
// }


.toggle-answer {
    &:hover {
        cursor: pointer;
        color: $primary-dark;
    }
}

.learn-more-about{
    .book-session-BTN{
        @include book-btn;
        padding: 19px 38px;
        font-size: 16px;
    }
}

// Close pop-up button
.fa-times-circle {
    &:hover {
        cursor: pointer;
    }
}

.fa-times-circle{
    font-size: 2.5em;
    padding-top: 10px;
    color: #afafaf;
}

//form submit button  -- contact and info session btn

.contact-us-form, .book-info-session {
    .wpcf7-submit {
        @include book-btn;
        @include form-submit-btn;
    }
}

// Overlay msg BTN
.vesta-btn{
    @include book-btn;
    padding: 18px 23px;
    text-decoration: none;
    width: 150px;
    margin: 50px auto;
}


.contact-us-form{
    .vesta-btn{
        margin-top: 0;
    }
}

header{
    .book-info-session{
        font-family: 'Century Gothic';
        font-size: 0.89em;
        text-transform: uppercase;
        @include book-btn; 
        padding: 10px 25px;
        white-space: nowrap;
    }
}

.book-info-session-button{
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: 60px;
    button{
        @include book-btn; 
        text-transform: uppercase;
        font-family: "Century Gothic Bold";
        font-size: 14px;
        border: none;
        display: block;
        padding: 15px 20px;
    }
}

.more-resources-button{
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: 100px;
    button{
        @include book-btn;
        align-items: center;
        text-transform: uppercase;
        font-family: "Century Gothic Bold";
        font-size: 14px;
        display: block;
        padding: 15px 20px;

    }
}