.toggle-answer {
    &:hover {
        cursor: pointer;
        color: $primary-dark;
    }
}

.learn-more-about{
    .book-session-BTN{
        @include book-btn;
        padding: 19px 38px;
        font-size: 16px;
    }
}

// Close pop-up button
.fa-times-circle {
    &:hover {
        cursor: pointer;
    }
}

.fa-times-circle{
    font-size: 2.5em;
    padding-top: 10px;
    color: #afafaf;
}

//form submit button  -- contact and info session btn

.wpcf7-form{
    .wpcf7-submit{
            @include book-btn;
            padding: 15px 30px;
            text-decoration: none;
            margin: 63px 0 60px 300px;
            width: 250px;
    }
}
// Overlay msg BTN
.vesta-btn{
    @include book-btn;
    padding: 18px 23px;
    text-decoration: none;
    width: 150px;
    margin: 50px auto;
}

// .form-button-container{
//     width: 565px;
//     display: flex;
//     justify-content: flex-end;
//     margin-top: 41px;

//     input.wpcf7-submit{
//         @include book-btn;
//         width: 230px;
//         height: 60px;
//         font-size: 1em;
//     }
// }
