div.flickity-viewport {
    height: 250px;
}

.customer-story-box {
    width: 400px;
    height: 250px;
    background-color: lightblue;
    color: #fff;
    transform: scale(0.85);
}

.customer-story-box.is-selected {
    transform: scale(1);
  }