.grey-overlay {
    width: 100vw;
    height: 100vh;
    background-color: #000;
    opacity: 0.64;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 20;
    display: none;
}

//  Book Info Session Confirmation Box

.msg-overlay {
    background-color: #fff;
    border: 0px solid #fff;
    border-radius: 17px;
    width: 50%;
    max-width: 583px;
    min-width: 400px;
    height: 500px;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 30;
    display: none;
    text-align: right;
}



.confirmed-msg-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 15px;
    .icon-message-sent{
        margin-bottom: 30px;
  
    }
    h1{ 
        text-transform: uppercase;
        font-size: 2.5em;
    }
    .confirmed-msg, .alert-footer{
        text-align: center;
        font-family: 'Century Gothic';
        width: 100%;
        margin: 0 auto;
        color: $font-color;
    }
    .confirmed-msg{
        margin-bottom: 60px;
    }
    
    .alert-footer{
        font-size: 1em;
        margin-top: 60px;
        a{
            font-family: 'Century Gothic Bold';
            color: $primary-dark;
        }
    }
}

