@mixin book-btn {
    border-radius: 29px;
    background-color: $primary-color;
    color: #fff;
    text-transform: uppercase;
    font-family: 'Century Gothic Bold';
    @content;
}

@mixin form-submit-btn {
    padding: 15px 30px;
    text-decoration: none;
    margin: 63px 0 60px 250px;
    width: 250px;
    @content;
}

@mixin about-offer-container{
    background: rgba(57, 101, 238, 0.44);
    margin: 0 auto;
}


@mixin form-border{
    border: solid 0.5px #979797;
    background-color: #ffffff;
    @content;
}

@mixin thick-bar {
    height: 8px;
    border: solid 1px #cbcbcb;
    background-color: #cbcbcb;
    margin-bottom: 0;
    @content;
}

@mixin thick-bar-selected {
    border: solid 1px $primary-color;
    background-color: $primary-color;
    @content;
}
@mixin thick-bar-selected-plum {
    border: solid 1px $accent-button-color;
    background-color: $accent-button-color;
    @content;
}


// @mixin big-background {
//     width: 1387px;
//     height: 779px;
//     background-color: $primary-color;
//     opacity: 0.15;
//     border-radius: 102px;
//     background-blend-mode: multiply;
//     position: absolute;
//     @content;
// }

@mixin shapes-wrapper {
    position: absolute;
    max-width: 100%;
    top: 0;
    left: 0;
    overflow: hidden;
    height: 650px;
    @content;
}

@mixin big-rec {
    width: 1387px;
    height: 779px;
    background-color: $primary-color;
    opacity: 0.15;
    border-radius: 102px;
    @content;
}

@mixin lil-rec {
    width: 837px;
    height: 529px;
    background-color: $primary-medium;
    opacity: 0.51;
    border-radius: 78px;
    @content;
}

@mixin small-background {
    width: 837px;
    height: 529px;
    background-color: $primary-medium;
    opacity: 0.51;
    border-radius: 78px;
    position: absolute;
    @content;
}

@mixin section-background {
    height: 530px;
    width: 100%;
    opacity: 0.51;
    position: absolute;
    left: 0;
    background-color: $primary-section;
}
