body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-height: 100%;
}


.header-line{
    width: 113px;
    height: 2px;
    background-color: $font-color;
    border: solid 1px $font-color;
    margin-left: 0;
}

.all-page-wrapper{
    margin: 50px 13% 0 13%;
}

