// Colours
$primary-color: #3965ee;
$primary-dark: #284683;
$accent-button-color: #5a1933;
$nav-color: #284683;
$font-color: #2e3438;
$header-color: #32393d;
$dark-grey: #444b47;
$medium-grey: #575D61;
$light-grey: #a5a9ab;
$background-shade: #fefefe;
$transparent-accent: rgba(90,25,51, 0.7);
$primary-medium: #b6c4f5;

// Border
$form-border: 1px solid #979797;
 